@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wraper{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.background{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(../images/a8.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg_black{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}
.login-form{
    box-shadow: 0 0 3px greenyellow, 0 0 10px goldenrod;
    z-index: 2;
    position: absolute;
    top: 210px;
    left: 50%;
    width: 550px;
    height: 400px;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.5);
    padding: 5px;
}
.login-form .title{
    color: #fff;
    font-size: 32px;
    position: relative;
    font-weight: 700; 
}
.login-form .title span{
    text-shadow: 0 0 5px greenyellow, 0 0 10px greenyellow;
}
.login-form svg,
.login-form svg rect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
.login-form svg rect{
	stroke: yellow;
	stroke-width: 3;
	stroke-dasharray: 100%;
	animation: animateSvg 4s linear infinite;
}
@keyframes animateSvg{
	0%{
		stroke-dashoffset: 200%;
	}
	100%{
		stroke-dashoffset: 0%;	
	}
}
.social{
    width: 100%;
    display: flex;
    margin: 40px 0;
    justify-content: center;
}
.social a{
    display: flex;
    width: 40%;
    cursor: pointer;
    margin: 0 15px;
    text-decoration: none;
}
.social a:hover{
    text-decoration: none;
}
.button{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 14px;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
}
.button p{font-size: 18px;}
.button span {
    position: absolute;
    left: 0;
    width: 50px;
    font-size:30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
    text-decoration: none;
}
.button.facebook {
    background: rgba(59,89,153 ,0.5 ) ;
}
.button.facebook:hover {
    background: rgba(59,89,153 ,1 );
    transition: 0.3s;
    box-shadow: 0 0 3px rgba(59,89,153 ,1 ),0 0 10px rgba(59,89,153 ,1 );
}
.button.google-plus{
    background: rgba(221,75,57 ,0.5);
}
.button.google-plus:hover {
    background: rgba(221,75,57 ,1);
    transition: 0.3s;
    box-shadow: 0 0 3px rgba(221,75,57 ,0.5),0 0 10px rgba(221,75,57 ,0.5);
}
.button p{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.social i{
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
}
.login-form p{
    color: #fff;
    font-size: 18px;
}

.input:first-child{
    position: relative;
    margin-top: 40px;
}
.input:last-child{
    position: relative;
    margin-top: 20px;
}

input {
    width: 100%;
    color: white;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.6);
    padding: 0.35em 0.45em;
    transition: 0.3s ease-in-out;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input span {
    position: absolute;
    background-color: yellow;
    transition: transform 0.5s ease;
}

.bottom {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}
.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.input-email input:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}
.input-password input:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}
.input-form{
    margin: 0 35px;
}

.boxbutton{
	position: absolute;
	width: 80px;
	right: 40px;
	bottom: 70px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #ffeb3b;
	padding: 3px 80px;
}
.boxbutton button{
	color: #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border: 1px solid #ffeb3b;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 600;
	transition: 0.5;
    margin: 0;
    font-size: 18px;
    background: transparent;
    width: 156px;
	padding: 0;
}
.boxbutton span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: block;
}
.boxbutton span:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,yellow,#00ddff, green);
	animation: animateSpan 3s linear infinite;
}
.boxbutton span:nth-child(2):before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg,yellow,#00ddff, green);
	animation: animateSpanTwo 3s linear infinite;
}
.boxbutton span:nth-child(4):before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg,yellow,#00ddff, green);
	animation: animateSpanFour 3s linear infinite;
}
.boxbutton span:nth-child(1){
	transform: rotate(0deg);
}
.boxbutton span:nth-child(3){
	transform: rotate(180deg);
}
.boxbutton:hover button{
	color: #fff;
	font-weight: 700;
	transition: 0.3s;
	text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 20px yellow;
}

@keyframes animateSpan{
	0%{
		transform: scaleX(0);
		transform-origin: left;
	}
	50%{
		transform: scaleX(1);
		transform-origin: left;
	}
	50.1%{
		transform: scaleX(1);
		transform-origin: right;
	}
	100%{
		transform: scaleX(0);
		transform-origin: right;
	}
}
@keyframes animateSpanTwo{
	0%{
		transform: scaleY(0);
		transform-origin: top;
	}
	50%{
		transform: scaleY(1);
		transform-origin: top;
	}
	50.1%{
		transform: scaleY(1);
		transform-origin: bottom;
	}
	100%{
		transform: scaleY(0);
		transform-origin: bottom;
	}
}
@keyframes animateSpanFour{
	0%{
		transform: scaleY(0);
		transform-origin: bottom;
	}
	50%{
		transform: scaleY(1);
		transform-origin: bottom;
	}
	50.1%{
		transform: scaleY(1);
		transform-origin: top;
	}
	100%{
		transform: scaleY(0);
		transform-origin: top;
	}
}
.login-form .help{
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 15px;
}
.login-form .help span{
    color: #fff;
}
.login-form .help a:hover{
    text-decoration: none;
    color: darkorange;
}
.login-form .help a{
    color: darkgoldenrod;
}
.header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(40px);
    z-index: 2;
}
.header img{
    width: 180px;
    height: 110px;
}
.header h4{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 0 5px #1eff4e, 0 0 10px #1eff4e, 0 0 30px #1eff4e;
	animation: animateName 1s linear infinite;
}
@keyframes animateName{
	0%{
		opacity: 1;
	}
	30%{
		opacity: 0.5;
	}
	40%{
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

#snow{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
.header{
    animation: animate 0.5s ease-in-out forwards;
    animation-delay: 3s;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(40px) translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) translateX(-50%);
    }
}
.login-form .title{
    animation: animateTitle 0.5s ease-in-out forwards;
    animation-delay: 3.3s;
}
@keyframes animateTitle{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.social{
    animation: animateTitle 0.5s ease-in-out forwards;
    animation-delay: 3.6s;
}
.input-form{
    animation: animateTitle 0.5s ease-in-out forwards;
    animation-delay: 3.9s;
}
.boxbutton{
    animation: animateTitle 0.5s ease-in-out forwards;
    animation-delay: 4.2s;
}
.help{
    animation: animateTitle 0.5s ease-in-out forwards;
    animation-delay: 4.5s;
}


.loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: #000;
    animation: loading 0.8s ease-in-out forwards;
    animation-delay: 2.5s;
}
@keyframes loading{
    to{
        transform: translateY(-100%);
        visibility: hidden;
    }
}
.loading img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
}
.loading div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 2em;
}
.loading span {
    width: 0.3em;
    height: 1em;
    background-color: #3cefff;
}
.loading span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
}

.loading span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
}

.loading span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
}

.loading span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
}


.cloud{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/cloud.png);
	background-size: cover;
	z-index: 1;
	opacity: 0.4;
	animation: animateCloud 150s linear infinite;
}
@keyframes animateCloud{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: -5440px;
	}
}
